/* Lists container - Flexbox for responsiveness */
.lists-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}

/* Container styles */
.container {
  border: 5px solid var(--main-third-coler);
  border-radius: 16px;
  margin: 32px 0;
  width: 100%;
  max-width: 450px;
}

.container h2 {
  border-bottom: 5px solid var(--main-third-coler);
  border-radius: 16px;
  margin: 0 0 10px;
}

/* Items container with scroll - fix horizontal scroll */
.items-container {
  width: 100%;
  padding: 0px 10px 0px 10px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scroll */
  margin-bottom: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.items-container::-webkit-scrollbar {
  width: 10px;
}

.items-container::-webkit-scrollbar-thumb {
  background: var(--main-third-coler);
  border-radius: 10px;
}

/* Button item styles - make sure it doesn't exceed the container's width */
.button-item {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  border: 3px solid var(--main-third-coler);
  border-radius: 16px;
  width: calc(100% - 10px); /* Ensure button width fits within container */
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box; /* Include padding/border in width */
}

.button-item:hover, .button-item.active {
  background-color: gray;
  color: white;
}

.button-item.not-available-songs:hover, .button-item.not-available-songs:active {
  cursor: default;
  background-color: var(--main-bg-color);
  user-select: text; /* Allow text selection */
}

/* Responsive Media Queries */
@media (max-width: 768px) {
  .lists-container {
    flex-direction: column;
  }

  .App-header h1 {
    font-size: 1.2rem;
  }

  .button-item {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .App {
    padding: 0 2%;
  }

  .App-header h1 {
    font-size: 1rem;
  }

  .button-item {
    font-size: 0.9rem;
    padding: 8px;
  }

  .items-container {
    max-height: 300px;
  }
}